<section id="headers-wrapper">
  <%= render 'partials/contact_header' %>
  <%= render 'partials/navbar' %>
</section>
<%= render 'partials/description' %>
<%= render 'partials/questions' %>
<%= render 'partials/map' %>
<%= render 'partials/magazine' %>
<%= render 'partials/footer' %>