<section id="adventures_near">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <div id="map"></div>      
    </div>
    <div class="col-sm-12 col-lg-4">
      <h5>TOP ADVENTURES NEAR MOUNT KINABALU CLIMB</h5>
      <ul id="adventures">
        <li class="item">
          <div class="row">
            <div class="col-sm-4 col-lg-4 image">
              <img src="<%= image_path('mount_kinabalu_6.jpg') %>" alt="">
              <span class="pick"><i class="fas fa-heart"></i>Traveller's Pick!</span>
            </div>
            <div class="col-sm-8 col-lg-8">
              <p class="guide-name">1. Kiulu White Water Rafting</p>
              <div class="labels">
                <span><i class="fas fa-star"></i> <span style="font-weight: bold; margin-right: 0px;">4.93</span> (58)</span>
                <span><i class="fas fa-map-marker-alt"></i></i> 2km away</span>                
              </div>
              <div class="labels">                
                <span style="color: inherit;"><i class="far fa-clock"></i> 0.5 day to 3 days</span>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="row">
            <div class="col-sm-4 col-lg-4 image">
              <img src="<%= image_path('mount_kinabalu_6.jpg') %>" alt="">
              <span class="bucket-list"><i class="ion-ios-checkmark"></i>Bucketlist</span>
            </div>
            <div class="col-sm-8 col-lg-8">
              <p class="guide-name">1. Kiulu White Water Rafting</p>
              <div class="labels">
                <span><i class="fas fa-star"></i> <span style="font-weight: bold; margin-right: 0px;">4.93</span> (58)</span>
                <span><i class="fas fa-map-marker-alt"></i></i> 2km away</span>                
              </div>
              <div class="labels">                
                <span style="color: inherit;"><i class="far fa-clock"></i> 0.5 day to 3 days</span>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="row">
            <div class="col-sm-4 col-lg-4 image">
              <img src="<%= image_path('mount_kinabalu_6.jpg') %>" alt="">              
            </div>
            <div class="col-sm-8 col-lg-8">
              <p class="guide-name">1. Kiulu White Water Rafting</p>
              <div class="labels">
                <span><i class="fas fa-star"></i> <span style="font-weight: bold; margin-right: 0px;">4.93</span> (58)</span>
                <span><i class="fas fa-map-marker-alt"></i></i> 2km away</span>                
              </div>
              <div class="labels">                
                <span style="color: inherit;"><i class="far fa-clock"></i> 0.5 day to 3 days</span>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="row">
            <div class="col-sm-4 col-lg-4 image">
              <img src="<%= image_path('mount_kinabalu_6.jpg') %>" alt="">            
            </div>
            <div class="col-sm-8 col-lg-8">
              <p class="guide-name">1. Kiulu White Water Rafting</p>
              <div class="labels">
                <span><i class="fas fa-star"></i> <span style="font-weight: bold; margin-right: 0px;">4.93</span> (58)</span>
                <span><i class="fas fa-map-marker-alt"></i></i> 2km away</span>                
              </div>
              <div class="labels">                
                <span style="color: inherit;"><i class="far fa-clock"></i> 0.5 day to 3 days</span>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="row">
            <div class="col-sm-4 col-lg-4 image">
              <img src="<%= image_path('mount_kinabalu_6.jpg') %>" alt="">              
            </div>
            <div class="col-sm-8 col-lg-8">
              <p class="guide-name">1. Kiulu White Water Rafting</p>
              <div class="labels">
                <span><i class="fas fa-star"></i> <span style="font-weight: bold; margin-right: 0px;">4.93</span> (58)</span>
                <span><i class="fas fa-map-marker-alt"></i></i> 2km away</span>                
              </div>
              <div class="labels">                
                <span style="color: inherit;"><i class="far fa-clock"></i> 0.5 day to 3 days</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <p id="all_adventures">View all adventures in Sabah, Malaysia <i class="ion-ios-arrow-forward"></i></p>
    </div>
  </div>
</section>